<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body id="contact">
    <h1 class="logo">Contact Us</h1>
    <div class="tele">
        <img class="first" src="images/tele.png" alt="telephone-image"><br>
        <p>7986107813<br />
          6205601020<br />
          8210794466</p>
    </div>
    <div class="gmail">
      <img class="second" src="images/gmail.png" alt="gmail-image">
      <p>krachna848@gmail.com<br />
        tagorenavneet@gmail.com<br />
        kr.akash665@gmail.com</p>
    </div>
    <div class="address">
      <img class="third" src="images/address.png" alt="address-image">
      <p>GIET University, Gunupur, Odisha</p>
    </div>
    <div class="social four">
      <a class="social-icon" href="https://twitter.com/?lang=en"><img src="images/twitter.png" alt=""></a>
      <a class="social-icon" href="https://www.facebook.com/"><img src="images/facebook.png" alt=""></i></a>
      <a class="social-icon" href="https://www.instagram.com/"><img src="images/telegram.png" alt=""> </i></a>
      <a class="social-icon" href="https://telegram.org/"><img src="images/instagram.png" alt=""></i></a>
      <p>Our Social Handles</p><br>
    </div>



  </body>
</html>
